In [2]:
import pandas as pd

In [3]:
#abrindo o data set

df_origin = pd.read_csv('campeonato-brasileiro-full.csv')

In [4]:
#identificando os itens das colunas para propor as perguntas a serem respondidas

df_origin.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP

In [5]:
df_origin.isna()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8020,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8021,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8022,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8023,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8024,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df_origin.isna().sum()

ID                       0
rodata                   0
data                     0
hora                     0
mandante                 0
visitante                0
formacao_mandante     4974
formacao_visitante    4974
tecnico_mandante      4610
tecnico_visitante     4610
vencedor                 0
arena                    0
mandante_Placar          0
visitante_Placar         0
mandante_Estado          0
visitante_Estado         0
dtype: int64

## Início manipulação dados do data set Estatisticas Full

``Verificar o conteúdo do data set``

In [3]:
df_origin_2 = pd.read_csv('campeonato-brasileiro-estatisticas-full.csv')

In [4]:
df_origin_2.head()

,partida_id,rodata,clube,chutes,chutes_no_alvo,posse_de_bola,passes,precisao_passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,NaN,0,NaN,0,0,0,0,0
1,1,1,Vasco,0,0,NaN,0,NaN,0,0,0,0,0
2,2,1,Athletico-PR,0,0,NaN,0,NaN,0,0,0,0,0
3,2,1,Gremio,0,0,NaN,0,NaN,0,0,0,0,0
4,3,1,Flamengo,0,0,NaN,0,NaN,0,0,0,0,0

In [5]:
valores_1 = df_origin_2.iloc[0:1, 3]

print(valores_1)

print(type(valores_1))

0    0
Name: chutes, dtype: int64
<class 'pandas.core.series.Series'>

``Verificar a quantidade de dados``

In [6]:
len(df_origin_2["partida_id"])

16050

``Verificar se há dados nulos``

In [7]:
df_origin_2.isna().sum()

partida_id            0
rodata                0
clube                 0
chutes                0
chutes_no_alvo        0
posse_de_bola      9212
passes                0
precisao_passes    9212
faltas                0
cartao_amarelo        0
cartao_vermelho       0
impedimentos          0
escanteios            0
dtype: int64

``Estatisticamente, as colunas posse de bole e precissão de passes possuem ~50% dos dados nulos, afetando a avaliação que proveria dela.``

``Neste cenário, é mais vantajoso a exclusão total.``

In [9]:
df_statistic_full_nnull = df_origin_2.drop(['posse_de_bola', 'precisao_passes'], axis=1)

In [10]:
df_statistic_full_nnull

,partida_id,rodata,clube,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,0,0,0,0,0,0
1,1,1,Vasco,0,0,0,0,0,0,0,0
2,2,1,Athletico-PR,0,0,0,0,0,0,0,0
3,2,1,Gremio,0,0,0,0,0,0,0,0
4,3,1,Flamengo,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
16045,8023,38,Atletico-MG,17,7,351,19,6,0,0,4
16046,8024,38,Internacional,15,8,287,13,2,0,1,6
16047,8024,38,Palmeiras,11,2,306,17,3,0,2,5
16048,8025,38,Goias,6,2,330,12,2,0,1,3
16049,8025,38,Sao Paulo,13,7,591,14,1,0,0,4

``A coluna 1 está com nome inadequado, não prejudicado a análise de dados mas incomodando``

In [11]:
df_statistic_full_nnull_rename = df_statistic_full_nnull.rename(columns={"rodata": "rodada"})

In [12]:
df_statistic_full_nnull_rename

,partida_id,rodada,clube,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,0,0,0,0,0,0
1,1,1,Vasco,0,0,0,0,0,0,0,0
2,2,1,Athletico-PR,0,0,0,0,0,0,0,0
3,2,1,Gremio,0,0,0,0,0,0,0,0
4,3,1,Flamengo,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
16045,8023,38,Atletico-MG,17,7,351,19,6,0,0,4
16046,8024,38,Internacional,15,8,287,13,2,0,1,6
16047,8024,38,Palmeiras,11,2,306,17,3,0,2,5
16048,8025,38,Goias,6,2,330,12,2,0,1,3
16049,8025,38,Sao Paulo,13,7,591,14,1,0,0,4

``Note, as colunas chutes a escanteios demostrando muitos dados em zero. O que pode comprometer a análise dos dados por não serem reais.``

``Até onde vão esses dados zerados?``

In [13]:
# avaliando a retirada dos dados zerados, via estatistica descritiva

df_statistic_full_nnull_rename.describe()

,partida_id,rodada,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
count,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000
mean,4013.000000,20.163240,4.841308,1.207975,159.068910,5.677695,0.862368,0.047664,0.613271,1.976947
std,2316.690109,11.465597,6.924779,2.280282,213.129689,7.793185,1.416964,0.232900,1.209620,3.131383
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2007.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4013.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6019.000000,30.000000,10.000000,2.000000,374.000000,13.000000,2.000000,0.000000,1.000000,4.000000
max,8025.000000,46.000000,37.000000,16.000000,848.000000,34.000000,10.000000,3.000000,10.000000,23.000000

In [16]:
# Script que vare cada coluna, verificando os valores e retornando o índice de cada coluna onde está o último valor zerado.

sub = 0

for valor in df_statistic_full_nnull_rename['passes'] == 0:
    sub = df_statistic_full_nnull_rename['passes'].sub(1)

print(sub)

0         -1
1         -1
2         -1
3         -1
4         -1
        ...
16045    350
16046    286
16047    305
16048    329
16049    590
Name: passes, Length: 16050, dtype: int64

In [ ]:
git config --global http.sslVerify false